flask
folium
branca              
certifi         
chardet             
click               
Flask               
folium          
idna            
itsdangerous    
Jinja2          
MarkupSafe      
numpy           
pandas          
pip             
python-dateutil 
pytz            
requests        
setuptools      
six             
urllib3         
Werkzeug        
wheel 